footer{
  background: var(--color-bg-variant);
  padding: 3rem;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 7rem ;
  margin-right: 0;
}
footer a{
  color: var(--color-light);

}
.footer__logo{
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}
.permalinks{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
  font-weight:500;

}
/* .permalinks-items:hover{
  border: 1px solid transparent;
  border-radius: 0.5rem;
} */

.footer__socials{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer__socials a{
  background: var(--color-bg);
  color: var(--color-white);
  padding: 0.8rem;
  border-radius: 0.7rem;
  display: flex;
  border: 1px solid transparent;
  backdrop-filter: blur(4px);

}
.footer__socials a:hover{
  background: transparent;
  color: var(--color-bg);
  border-color: var(--color-bg);
  font-weight: bold;

}
.footer__copyright{
  margin-bottom: 4rem;
  color: var(--color-white);
}
/*----Media queries(small devices)----*/


@media screen and (max-width:780px) {
   .permalinks{
  

  flex-direction: column;
  gap: 1.5rem;
}
.footer__socials{
  margin-bottom: 2.6rem;
}
 
}