.experience__container{
  display :grid ;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

}
.experience__container > div{
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  backdrop-filter: blur(6px);
  transition: var(--transition);
  
}
.experience__container>div:hover{
  background: transparent;
  border: 1px solid var(--color-primary);
  
  cursor:default;

}
.experience__container>div h3{
   
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-primary);
}
.experience__container>div h5{
   
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-primary-variant);
}
.experience__content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}
.experience__details> div{
  text-align: left;
}

.experience__details{
  display: flex;
  gap:1rem;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  align-items: flex-start;
}
.experience__details-icon{
  margin-top: 2px;
  flex-shrink: 0;
  font-size: 1rem;
  color: var(--color-primary);
  
}
/*----Media queries(medium devices)----*/

@media screen and (max-width:1024px) {
 .experience__container>div{
     width: 80%;
     padding: 2rem;
     margin: 0 auto;
 }
 .experience__container{
  grid-template-columns: 1fr;
 }
 
 .experience__content{
  padding: 1rem;
 }
}

/*----Media queries(small devices)----*/


@media screen and (max-width:780px) {
   
 .experience__container{
  gap: 1rem;
 }
 .experience__container>div{
  width: 100%;
  padding: 2rem 1rem;
   box-sizing: border-box;
 }
 .experience__content {
    grid-template-columns: 1fr;
  }
  .experience__details {
    margin: 0 0.5rem;
  }
}